*{ 
	margin: 0;
	padding: 0; 
	margin: 0 auto;
	text-align: center;
	font-family: Cambria;
	font-size:  25px;
	letter-spacing: 3px;
	word-spacing: 10px;
	zoom: 95%;
}
body{
     background-color:#041C32 ; 
	/* background-image: url(src/background.jpg);
	background-size: 100% ;
	background-repeat: no-repeat;  */
}
button, .button{
	background-color:#064663 ;
	width: 135px;
	height: 40px;
	color:white;
}


h1{
	color: #ECB365;
	font-family: Cambria;
	font-size: 45;
}

#loginPage1{
	color: white;
	display: inline-block;
	width: 350px;
}
#registerPage1{
	color: white;
	display: inline-block;
	width: 350px;

}
#settingPage1{
	color: white;
	width: 550px;
	font-size:  20px;

}
#gamePage1{
	display: inline-block;
	color: white;
	display: inline-block;

}
#settingAtGame{
	display: inline-block;
	color: white;
	font-size: 45px !important;
	

}

/* #gameTable{
	border: 0px solid;
} */
#infoScore,#infoLife,#infoTime{
	padding-left: 45px;
	display: inline-block;
}
#maindiv{
	width: 85%;
	}
#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background: white;
	opacity: 80%;
}
nav{
    position: fixed;
	width: 100%;
	height: 70px;
	background-color: rgb(255, 255, 255);
}
ul{
	margin-left: 70px;
}

ul li{
	list-style: none;
	display:  inline-block;
	line-height: 70px;
	margin: 0 5px;
}
ul li a{
	text-decoration: none;
	font-size: 11;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(0, 0, 0);
	padding: 0 14px;
	border-radius: 5;
	display: block;	
}
ul li :hover{
	/* color: rgb(224, 11, 39); */
	background: #70889a;
	transition: .5s;
} 
.menuButton{
    background-color: transparent;
    border: none;
}

.dialog {
	font-family: system-ui;
	background-color: #FFDFDD;
	text-align: center;
}
#gameover1{
margin-top: 50px;
	height: fit-content;
	width: 600px;
}
#about1{
	width: 950px;
	height: 350px;
	opacity: 95%;

}


.error_form{
	color: red;
	font-size: 15px;
}

/* Style the header */
header {
	background-color: #666;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
	top: 0;
}
#settingForm{
	padding-bottom: 1%;
}
/* Style the footer */
footer {
	position: fixed;
	padding: 10px 10px 0px 10px;
	bottom: 0;
	width: 100%;
	/* Height of the footer*/
	height: 40px;
	background: rgb(255, 255, 255);
	opacity: 80%;
	
}
